.clients {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    fill: var(--icons-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: var(--transition-hover-focus);
    &:hover,
    &:focus {
      fill: var(--accent-color);
      border: 1px solid var(--accent-color);
    }
    &:focus {
      outline: none;
    }
  }
}
