.products-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--project-card-gap));
  margin-top: calc(-1 * var(--project-card-gap));
  &__item {
    flex-basis: calc(100% / 3 - var(--project-card-gap));
    margin-left: var(--project-card-gap);
    margin-top: var(--project-card-gap);
    transition: var(--transition-hover-focus);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
