h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
ul,
li {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: var(--main-font);
  // color: var(--font-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
  &:focus {
    outline-color: var(--accent-color);
  }
}
